<h1>About</h1>

<p>It is a simple weekend project that I developed in order to quickly jolt my Angular JS knowlege of a few things. </p>

<h3 style="margin-top: 25px;" id="what-is-it">What is it?</h3>
<p>You can search a country and get several details regarding the country and check the map.</p>

<h3 style="margin-top: 25px;" id="what-is-it-made-of">What is it made of?</h3>
<p>The app uses the following:</p>
<ul>
	<li>v1.4.7 of <a href="https://github.com/angular/angular.js">Angular JS</a></li>
	<li><a href="https://github.com/angular-ui/ui-router">ui-router</a> is being used for routing. </li>
	<li><a href="https://github.com/twbs/bootstrap">Twitter Bootstrap</a> for the interface.</li>
	<li><a href="https://angular-ui.github.io/angular-google-maps/#!/">Angular Google Maps</a> for the map</li>
</ul>

<h3 style="margin-top: 25px;" id="what-does-it-contain">What does it contain?</h3>
<p>There are a few controllers, some nested views, a service, an HTTP Interceptor and a directive for the loader.</p>

<h3 style="margin-top: 25px;" id="what-is-missing">What is missing?</h3>
<p>The dependencies should have been installed through bower, I should have wrote some gulp tasks for minifying and combining those numerous Javascript files. But I was Okay with it as long as it served the purpose and it did.</p>
<p>What else is missing, what other problems does it have? I would love to hear from you. Feel free to open any issues or reach me directly at kamranahmed.se@gmail.com</p>
