<h1>Search</h1>

<p>Start typing the name of the country to get several details regarding it including the current statistics, twitter trends, map, weather, currency etc.</p>

<ui-select ng-model="homeCtrl.search.selected" on-select='homeCtrl.loadCountry($item)'>
    <ui-select-match placeholder="Select the country" allow-clear>
        <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="country in (homeCtrl.search.countries | filter: $select.search) track by country.code">
        <span ng-bind="country.name"></span>
    </ui-select-choices>
</ui-select>

<div class="search-results top17" ng-show="homeCtrl.search.selected.name">
	<h4>You selected <strong>{{ homeCtrl.search.selected.name || '-	' }}!</strong></h4>
	
	<p>Click any of the links below to show the information relevant to the country</p><br>

	<div class="container">
		<div class="row">
			<ul class="nav nav-pills">
			  <li ui-sref-active="active"><a ui-sref="index.country({name: homeCtrl.search.selected.name})" ui-sref-opts="{ absolute: true, reload: false }">Basic Detail</a></li>
			  <li ui-sref-active="active"><a ui-sref="index.map({name: homeCtrl.search.selected.name})" ui-sref-opts="{ absolute: true }">Map</a></li>
			</ul>
		</div>

		<div class="row top17">
			<div ui-view></div>
		</div>
	</div>	

</div>